@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5c7c4;
    color: black;
    font-family: 'Poppins', sans-serif;
}


/* main section */

.main_section {
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
}

.main_section .card {
    border-radius: 15px;
    height: 50vh;
    width: 30vh;
    box-shadow: 5px 5px 30px 20px rgba(255, 255, 255, 0.4), 25px 25px 30px -2px rgba(0, 0, 0, 0.4);
    font-family: 'Playfair Display', serif;
}

.card img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    box-shadow: 0px 8px 15px 10px rgba(0, 0, 0, 0.1);
    height: 30vh;
}

.card_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.card_btn a {
    background-color: #C4C4C4;
    border-radius: 10px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 0px 18px 5px rgba(255, 255, 255, .3), 15px 15px 25px 2px rgba(0, 0, 0, 0.2);
    margin-top: 17%;
    text-decoration: none;
    color: black;
}

.card_btn a:hover {
    background: linear-gradient(to left, #942923 50%, #C4C4C4 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color: white;
}


/* smaller than 575 */

@media (max-width: 767.98px) {
    .main_section {
        display: block;
        justify-content: center;
    }
    .main_section .card {
        margin: auto;
        margin-top: 10%;
        width: 35vh;
    }
}
